<form hx-post="/login" hx-swap="outerHTML">

    <h2>Login</h2>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" {{ if .Ctx.Data.Username }}value="{{ .Ctx.Data.Username }}" {{ end}}
        required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    {{ if .Ctx.Errors.error }}<p style="color: red">{{ .Ctx.Errors.error }}</p>{{ end }}

    <button type="submit">Login</button>
</form>